{% extends "base.html" %}

{% block content %}
<div class="auth-card">
    <h2>Вход в аккаунт</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.email.label }}<br>
        {{ form.email(placeholder="email@example.com") }}
        
        {{ form.password.label }}<br>
        {{ form.password(placeholder="Ваш пароль") }}
        
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        
        {% if message %}
            <div class="error-msg">{{ message }}</div>
        {% endif %}
        
        <p>{{ form.submit(class="btn-primary") }}</p>
    </form>
</div>
{% endblock %}